//optional product modal
.modal.o_legacy_dialog:not(.o_technical_modal){

	.modal-dialog{
		@media(max-width: 767.98px){
			margin: 20px;
		}
		.modal-content{
			border-radius: 8px;

			header.modal-header{
				justify-content: center;
				align-items: center !important;
				padding: 0px 9px !important;
				.modal-title{
				    font-size: 18px !important;
				    display: none !important;
				}
				button.close, button.btn-close {
					padding: 0 !important;
					margin: 0;
					line-height: 40px;
					font-size: 14px;
					color: #fff;
					font-weight: 200;
					opacity: 1;
    				filter: brightness(0) invert(1);
				}

			    position: absolute;
	        	z-index: 999;
				right: -20px;
				top: -20px;
				border: 0;
				background-color: $primary;
				width: 40px;
				height: 40px;
				border-radius: 50px;
				line-height: 40px;
				text-align: center;
				box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
			

			}
			main.oe_advanced_configurator_modal.oe_website_sale{
			    padding-right: 50px;
		        background-color: #fbfff6;				
		        border-top-left-radius: 8px;
				table{
					td{
						border: 0 !important;
						@media (max-width: 768px) { 
							// display: table-cell !important;
							width: auto !important;
						}	
					}
					color: o-color('900');
					thead{
						display: none !important;
					}
					tbody{
						border: none;
						tr:nth-of-type(odd){
							background-color: unset !important;
						}
						tr:nth-of-type(even){
							background-color: unset !important;
						}
						tr.o_total_row {
						    font-size: 1rem;
						}
						.o_select_options{
							h6{
							    background-color: $secondary;
								padding: 10px 20px;
								font-size: 15px;
								color: #fff;
								font-weight: 600;
								border-radius: 50px;
								display: inline-block;
								box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1) !important;
							}
							// td{
							// 	@include media-breakpoint-down(sm) { 
							// 		width: 100%;
							// 	}
							// }
						}
						td.td-img{
							text-align: center;
							img{
								width: 80px;
								height: 80px;
								object-fit: scale-down;
							}
						}
						tr.js_product:not(.in_cart){
							td.td-product_name{
								@media(min-width: 992px){
									div.mb-3{
										float: left !important;
								    	max-width: 50%;
									}
									.js_add_cart_variants{
										float: right !important;
									    max-width: 50%;
									}
								}
								select.form-select{
									background-color: transparent;
								}
							}
						}
						td.td-product_name{
							text-align: left;
							strong{
								font-size: 14px;
								color: #121212;
							}
							div.text-muted{
								font-size: 15px;
								color: inherit !important;
								> div{
									p{
										margin-bottom: 10px !important;
										text-overflow: ellipsis;
										overflow: hidden;
										white-space: break-spaces;
										display: -webkit-box;
										-webkit-line-clamp: 3;
										-webkit-box-orient: vertical;
									}
								}
							}
						}
						td.td-qty{
							.css_quantity{
								border: 1px solid $primary;
								border-radius: 20px;
								
								.js_add_cart_json{
									background-color: transparent;
									box-shadow: none;
									i{
										color: $primary;
										font-size: 14px;
									}
								}
								.btn,input{
									border-color: transparent !important;
									background-color: transparent !important;
								}

								.input-group-prepend,.input-group-append{
									button.js_add_cart_json{
									    border: 0;
									    padding: 0px 10px;
									    box-shadow: none !important;
									    outline: none !important;
										line-height: 25px !important;
									    background-color: unset !important;
									    > i{
									    	color: $primary;
									    	font-size: 14px;
									    }
									}
								}
								input.js_quantity{
									line-height: 25px;
									border: 0;
									// background-color: #f0f0f0;
									min-width: 40px !important;
									color: $primary;
									font-weight: 600;
									background-color: transparent;
									&:focus{
										box-shadow: none !important;
									}
								}
							}
						}
						td.td-price{
							text-align: right !important;
							position: relative;
							.oe_default_price{
								font-size: 14px;
								font-weight: 600;
							}
							.oe_price{
								font-size: 16px;
								font-weight: 600;
								color: #121212;
							}
							span.js_remove{
								position: absolute;
							    right: -25px;
							    top: 14px;
							    font-size: 16px;

								a{
									.remove-optionnal-item{
										&:before{
											content: "\eb81" !important;
    										font-family: 'remixicon' !important;
										}
									}
								}
							}
							.js_add{
								position: absolute;
							    right: -25px;
							    top: 14px;
								color: $primary;
								font-size: 18px;

								.add-optionnal-item{
									content: "\f074" !important;
									font-family: "remixicon" !important;
								}
							}
							.css_not_available_msg{
							    background-color: transparent;
								color: #121212;
								border-color: #121212;
								font-size: 15px;
							}
						}
						.js_add_cart_variants{
							.variant_attribute{
								.attribute_name{
								    font-size: 14px;
									// padding-bottom:5px;
									width: unset !important;
								    margin-right: 10px;
							        white-space: nowrap !important;

								    &::after{
								    	content: none !important;
								    }
								}
							    ul{
							    	margin-left: 0 !important;

							    	.js_attribute_value{
							    		label{
							    			padding: 0;
							    		}
							    		.radio_input_value{
							    			font-size: 14px;
											display: flex !important;
							    		}
							    	}
							    	.css_attribute_color{
							    		border-radius: 50px;
							    	}
							    	.js_variant_change{
							    		box-shadow: none !important;
							    	}
							    }
							}
						}
					}
				}
			}
			footer{
				gap: 0 !important;
				padding: 0 !important;
		        background-color: #f3ede8;

		        button.btn{
		        	display: inline-block;
    				flex: 1 1 auto !important;
    				border-radius: 0 !important;
    				font-weight: 600;
					margin: 0;
					box-shadow: none !important;
					outline: none !important;
				    padding: 10px;
					font-size: 19px;
					// color: #ffffff;

					&.btn-primary{
						border-bottom-right-radius: 4px !important;
					}
					&.btn-secondary{
						border-bottom-left-radius: 4px !important;
						color: #fff;
					}
		        }
			}
		}
		.product-size-chart{
			display: none !important;
		}
	}
	
}



#products_grid.o_wsale_layout_list {
	.modal.o_legacy_dialog:not(.o_technical_modal){
		td{
	       display: table-cell !important;
		   width: auto !important;
		}
	}
}


.bizople_button_style{
	.owl-carousel {
		position: unset !important;
		z-index: unset;
	
		.owl-stage-outer,
		.owl-stage,
		.owl-item {
			transform: unset !important;
		}
	}
}


