//----------------------- BANNERS SNIPPETS SCSS----------------------------

.outlet_addresses{
	.store-data{
		.store-label{
			cursor: pointer;
			width: 100%;
			height: 100%;
			border: 1px solid;
			border-color: inherit;
			border-radius: 5px;
			transition: 0.3s;

			.store-content{
				.store-details{
					.store-name{
						span{
							text-transform: uppercase;
							font-size: 20px;
							font-weight: 600;
						}
					}
					.store-address{
						margin-top: 5px;
						p{
							margin-bottom: 0;
						}
					}
				}
				.store-contact{
					margin-top: 5px;
					.contact-phone, .contact-email, .contact-location{
						a{
							color: $primary;
							transition: 0.3s;
							span{
							    display: inline-block;
							    background-color: #fff;
							    width: 30px;
							    height: 30px;
							    line-height: 30px;
							    text-align: center;
							    border-radius: 5px;
							    font-size: 16px;
								transition: 0.3s;
							}
							&:hover{
								color: inherit;

								span{
									background-color: $primary;
								}
							}
						}
					}
					> div:not(:first-child){
						margin-left: 7px;
					}
				}
			}
		}
		&:hover{
			.store-label{
				border-color: $primary;
				background-color: rgba($primary, 0.08);
			}
		}
	}
	.outlet_box{
		.title{

		}
		.address{
			font-size: 12px;
		}
		p.button{
			a{
				color: #fff !important;
				padding: 0 !important;
				font-size: 14px;
				font-weight: 500;
			}
		}
		transition: 0.3s;
		--webkit-transition: 0.3s;
		&:hover{
			background-color: #e6e6e6 !important;
			color: #000 !important;
		    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
		    p.button{
				a{
					color: #000 !important;
				}
			}
		}
	}
}

.outlet-contact{
	.upper-content{
		.title{
	    	font-weight: 500;
	    	margin-bottom: 15px;
		}
		p{
			line-height: 30px;
		    font-weight: 400;
	        margin-bottom: 15px;
		}
		padding-bottom: 30px;
		border-bottom: 2px solid $primary;
	}
	.lower-content{
		padding-top: 45px;
		h6{
		    margin-bottom: 20px;
	        color: $primary;
		}
		p{
			line-height: 30px;
		    font-weight: 400;
	        margin-bottom: 0;
		}
	}
	.form-group{
		input.form-control{
		    padding: 15px 0;
		    height: unset;
		    border: 0;
		    border-bottom: 2px solid #d7eeee;
		    border-radius: 0;
		    background-color: transparent;
		    color: inherit;
		    outline: 0;
		    box-shadow: unset;
	        font-size: 14px;
		    &::placeholder {
			  color: inherit;
			}
		}
		textarea{
			padding: 15px 0;
		    border: 0;
		    border-bottom: 2px solid #d7eeee;
		    border-radius: 0;
		    background-color: transparent;
		    color: inherit;
		    outline: 0;
		    box-shadow: unset;
	        font-size: 14px;
		    &::placeholder {
			  color: inherit;
			}
		}
	}
}

.newsletter-section{
	padding: 35px 0;
	color: #fff;
    font-weight: 700;
    background-size: cover;
	background-position: center;
    h4{
    	font-size: 1.5rem;
    	font-weight: 800;
    	color: #fff;
    }
    p{
    	font-size: 16px;
    	font-weight: 300;
    }
    .input-group{
    	margin: 5px 0 0 0;
    	align-items: center;
    	input{
    		border-top-right-radius: 0;
    		border-bottom-right-radius: 0;
    		height: 50px;
		    background-color: #fff;
		    border-color: transparent;
		    border-radius: 90px 0 0 90px;
		    line-height: 50px;
		    color: #000!important;
		    padding: 0 20px;
		    font-size: 0.90rem;
    		font-weight: 400;
    		color: #fff;
    		outline: 0;
    	}
    	::placeholder{
			color: #000;
		}
    	.input-group-append{
    		a{
    			border-radius: 0 90px 90px 0!important;
			    line-height: 50px;
			    font-weight: 700;
			    border: 0;
			    padding: 0px 26px 0px 25px;
			    font-size: 1rem;
			    background-color: #fff;
			    color: #f46f23;
			    height: 48px;
			    text-transform: uppercase;
    		}
    	}
    }
    @media (max-width: 767.98px) {
    	form{
    		input{
    			font-size:12px !important;
    		}
    	}
    	.input-group-append{
    		a{
    			font-size:12px !important;
    		}
    	}
    }
    @media (min-width: 768px) and (max-width: 991.98px) {
    	form{
    		input{
    			font-size:12px !important;
    			width:160px;
    		}
    	}
    	.input-group-append{
    		a{
    			font-size:12px !important;
    		}
    	}
    }
}

