
.emart-plant-homepage-three-banner {
    .s_carousel_rounded {
        .carousel-item {
            padding-top: 300px;
            padding-bottom: 300px;
            @include media-breakpoint-down(lg) {
                padding-top: 120px;
                padding-bottom: 120px;
            }
        }

        .carousel-control-prev-icon:before {
            content: "\f104" !important;
        }
        .carousel-control-next-icon:before {
            content: "\f105" !important;
        }
        .carousel-control-prev-icon,.carousel-control-next-icon {
            &::before {
                width: 50px !important;
                height: 50px !important;
                line-height: 50px !important;
                border: 1px solid #ebebeb;
                transition: 0.3s;
                @include media-breakpoint-down(lg) {
                    display: none;
                }
            }
            &:hover::before {
                background: $primary !important;
                color: #fff;
                border-color: $primary !important; 
            }
        }
        .carousel-control-prev,
        .carousel-control-next {
            display: flex;
            opacity: 0;
            visibility: hidden;
            transition: 0.3s;
        }
        &:hover {
            .carousel-control-prev,
            .carousel-control-next {
                opacity: 1 !important;
                visibility: visible !important;
            }
        }
    }
}
