// Grid-features-Snippts
.emart-plant-grid-features {
    .plant-block-one {
        padding: 40px 30px 40px 30px;
        .block-content{
            .grid-subtitle {
                letter-spacing: 2px;
            }
            .img {
                width: 55px;
                height: 55px;
            }
        }  
    }
}